*{
  margin: 0;
  padding: 0;
}
.center {
  height: 100vh;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* center vertically */
  flex-direction: column;
  text-align: center;
  font-size: 50px;
  background-color: black;
  color: white;
}
#clock {
  background-color: orange;
}